@page
@model SupermarketWEB.Pages.Account.LoginModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="mb-3 text-center">
                    <img src="/Resources/Icon.png" alt="XYZ Supermarket" class="img-fluid" style="max-height: 125px;" />
                </div>
                

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" asp-for="User.Email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    <div>
                        <span class="text-danger" asp-validation-for="User.Email"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="User.Password" id="exampleInputPassword1">
                    <div>
                        <span class="text-danger" asp-validation-for="User.Password"></span>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="text-danger">@Model.ErrorMessage</div>
                }
                <br/>
                <button type="submit" class="btn btn-custom">Login</button>
                
            </form>
        </div>
    </div>
</div>
