html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-custom {
    background-color: #5e975e;
    color: #ffffff;
    border-color: #5e975e;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
    background-color: #4c7d4c;
    border-color: #4c7d4c;
    color: #ffffff;
}

.a-home {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all .4s ease;
}

.a-home:hover{
    background: #2fb4cc;
    color: #fff;
}

#section-gallery {
    margin-left: auto;
    display: flex;
    width: 100%;
    height: 430px;
}

#section-gallery img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

#section-gallery img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.container-privacy{
    width: 100%;
    display: flex;
    max-width: 1100px
}

.card-privacy{
    width: 100%;
    margin:20px;
    border-radius: 6px;
    overflow:hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all .4s ease;
}

.card-privacy:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);

}

.card-privacy img {
    width: 70%;
    height: auto;
    max-height: 210px;
    display: block;
    margin: 0 auto; 
    padding: 15px;
}


.card-privacy .content{
    padding: 15px;
    text-align: center;
}

.card-privacy .content p{
    line-height:1.5;
    color:#6a6a6a;
}

.card-privacy .content h3 {
    font-weight: 400;
    margin-bottom:15px;
}

.card-privacy .content a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all .4s ease;
}

.card-privacy .content a:hover {
    background: #2fb4cc;
    color: #fff;
}