@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
@* <div id="div-icon">
    <img id="icon" src="/Resources/Icon.png">
</div> *@
<section id="section-gallery">
    <img src="/Resources/Icon.png">
    <img src="/Resources/Grains.jpg">
    <img src="/Resources/Meat.jpg">
    <img src="/Resources/Fish.jpg">
    <img src="/Resources/Cans.png">
    <img src="/Resources/Fruits.jpg">
</section>