@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-privacy">
    <div class="card-privacy">
        <figure>
            <img src="/Resources/lock.png"/>
        </figure>
        <div class="content">
            <h3>Privacy</h3>
            <p>At XYZ Supermarket, we prioritize the privacy of our customers by implementing robust security measures.</p>
            <a href="#">Leer Más</a>
        </div>
    </div>

    <div class="card-privacy">
        <figure>
            <img src="/Resources/encrypted.png"/>
        </figure>
        <div class="content">
            <h3>Protection</h3>
            <p>We ensure the protection of your information through advanced encryption methods and secure practices.</p>
            <a href="#">Leer Más</a>
        </div>
    </div>

    <div class="card-privacy">
        <figure>
            <img src="/Resources/cookies.png"/>
        </figure>
        <div class="content">
            <h3>Cookies</h3>
            <p>Our use of cookies is designed to enhance your browsing experience while respecting your privacy preferences.</p>
            <a href="#">Leer Más</a>
        </div>
    </div>
</div>