@page
@model SupermarketWEB.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row mt-5">
        <!-- Card para Categories -->
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/Resources/categories.png" alt="Categories">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <p class="card-text">Explore and manage product categories.</p>
                    <a href="/Categories" class="a-home">Go to Categories</a>
                </div>
            </div>
        </div>

        <!-- Card para Products -->
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/Resources/products.png" alt="Products">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Browse and update product information.</p>
                    <a href="/Products" class="a-home">Go to Products</a>
                </div>
            </div>
        </div>

        <!-- Card para Providers -->
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/Resources/providers.png" alt="Providers">
                <div class="card-body">
                    <h5 class="card-title">Providers</h5>
                    <p class="card-text">Manage information about product providers.</p>
                    <a href="/Providers" class="a-home">Go to Providers</a>
                </div>
            </div>
        </div>

        <!-- Card para Paymodes -->
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="/Resources/buy.png" alt="Paymodes">
                <div class="card-body">
                    <h5 class="card-title">Paymodes</h5>
                    <p class="card-text">View and configure payment modes.</p>
                    <a href="/Paymodes" class="a-home">Go to Paymodes</a>
                </div>
            </div>
        </div>
    </div>
</div>